/* Group Members: Vivek Govindu, Ethan Lozuke, Will Gibson, Oliver Finnamore, Seth Lamay */
#main-title {
    text-align: center;
    font-family: Verdana;
}

.content {
    margin-bottom: 12px;
}

body {
    background-color: bisque;
    font-family: Georgia;
}
